.center{
    display: flex;
    justify-content: center;
}
div{
    margin: 30px;
}

ul{
    font-size: 30px;  
}

li{
    font-size: 25px;
}

.services{
    background-color: rgb(180, 180, 180);
    border: 1px black solid;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.content{
    display: flex;
    justify-content: space-around;
}

img{
    margin-top: 60px;
    height: 420px;
    width: 380px;
    border: 1px black solid;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-color: green !important;
}
.box{
	background-color: blue;
}